ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=
RG_NAME=QM_MLFlow
RANDOM_PASSWORD=

SUBSCRIPTION_ID=

POSTGRES_SERVER_NAME=
CREATION_POSTGRES_ADMIN_USERNAME=
POSTGRES_ADMIN_USERNAME=
POSTGRES_SERVER_PASSWORD=
DATABASE_NAME=
URL=
